<Files *.*>
	Order Allow,Deny
	Deny from all
</files>

ErrorDocument 400 /errordoc/?e=400
ErrorDocument 401 /errordoc/?e=401
ErrorDocument 403 /errordoc/?e=403
ErrorDocument 404 /errordoc/?e=404
ErrorDocument 500 /errordoc/?e=500
ErrorDocument 502 /errordoc/?e=502
ErrorDocument 503 /errordoc/?e=503