<?xml version="1.0" ?>
<plugin>
	<id>Fungineer</id>
	<name><![CDATA[Fungineering License]]></name>
	<height>100</height>
	<width>300</width>
	<font>tf2build.ttf</font>
	<imgtype>jpg</imgtype>
	<imgquality>90</imgquality>
	<color>#000000</color>
	
	<fields>
		<field>
			<id>name</id>
			<input>system</input>
			<output>text</output>
			<pos-x>0</pos-x>
			<pos-y>0</pos-y>
			<size>10</size>
			<data type="function">get_global_variable('steamID')</data>
		</field>

		<field>
			<id>bg</id>
			<title>RED or BLU</title>
			<desc>Your prefered color</desc>
			<input>radio</input>
			<output>img</output>
			<pos-x>0</pos-x>
			<pos-y>0</pos-y>
			<data type="function">get_imgs_by_prefix('bg_')</data>
		</field>
	</fields>
</plugin>