#
# Signature Generator
#

<Files .htaccess>
	Order Allow,Deny
	Deny from all
</files>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]